/* Table of Contents */ 
/* 
1. Imports
2. General
3. Mobile
4. Large(r) Screens
*/

/* 1. Imports */

/* 2. General */
#bunny_rocket {
    align-content: center;
    width: 100%;
}

#hero-text {
    position: absolute;
    top: 430px;
    right: 290px;
    font: 4em;
    list-style-type: none;
    color: #903;
}

#second-title {
    font-size: 2em;
}

.items {
    font-size: 25px;
}

#bottomBorder {
    height: 2px;
    color: #000;
    display: block;
    clear: left;
    margin-top: 50px;
    border-style: solid;
}

section.gray-box {
    background-color: #808080;
    width: 50%;
}

section img {
    width: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#section-3 {
    padding-left: 5%;
}
/* 3. Mobile */

/* 4. Large(r) Screens */

@media screen and (min-width: 450px) {

.left-section {
    width: 50%;
    float: left;
    /* align-content: flex-start; */
}

/* #section-4 {
    width: 50%;
    float: right;
    /* align-content: flex-end; */
/* } */ 

.parent-section {
    float: left;
    width: 100%;
}

#half-way {
    float: left;
    width: 50%;
}

#there {
    float: right;
    width: 50%;
}

}