/* Table of Contents */ 
/* 
1. Imports
2. General
3. Mobile
4. Large(r) Screens
*/

/* 1. Imports */

/* 2. General */
* {
    background-image: url("acme/images/background.jpg");
}

#navBar {
    background-color: #DA212A;
    text-decoration: none;
}

nav ul {
    display: inline-block;
    text-decoration: none;
}

/* 3. Mobile */

/* 4. Large(r) Screens */