/* Table of Contents */ 
/* 
1. Imports
2. General
3. Mobile
4. Large(r) Screens
*/

/* 1. Imports */
@import url('https://fonts.googleapis.com/css?family=Fira+Sans+Extra+Condensed&display=swap');

/* 2. General */
body {
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    background-image: url("../images/site/background.jpg");
}

nav ul li {
    padding-right: 2%;
    padding-left: 2%;
    background-color: #DE2226;
    color: #fff;
    float: left; 
}

nav ul {
    list-style-type: none;
}

#content-section {
    background-color: white;
    align-content: center;
    margin-left: 10%;
    margin-right: 10%;
}

#welcome {
    clear: left;
}

#footer-text {
    text-align: center;
    clear: left;
}

li a {
    text-decoration: none;
    color: #fff;
    margin-top: 2%;
    margin-bottom: 2%;
}

#navBar {
    width: 108%;
    padding-bottom: 0;
    margin-left: 0px;
}

#negative-padding {
    margin-left: -13.3%;
}

#extra-padding {
    padding-right: 18%;
}



/* 3. Mobile */

/* 4. Large(r) Screens */
@media screen and (min-width: 450px) {

nav ul li {
    font-size: 30px;
    height: 40px;
}

h1 {
    font-size: 250%;
}

#negative-padding {
    margin-left: -40px;
}

header {
    display: inline-block;
    text-align: left;
}

#extra-padding {
    padding-right: 40.5%;
}
}