/* Table of Contents */ 
/* 
1. Imports
2. General
3. Mobile
4. Large(r) Screens
*/

/* 1. Imports */

/* 2. General */
body {
    background-image: url("../images/site/background.jpg");
}

#navBar {
    width: 100%;
    /* background-color: #DA212A; */
}

nav ul li {
    float: left;
    padding-right: ;
    background-color: #DA212A;
}

nav ul {
    list-style-type: none;
}

#content-section {
    background-color: white;
    align-content: center;
    margin-left: 15%;
    margin-right: 15%;
}
/* 3. Mobile */

/* 4. Large(r) Screens */