/* Table of Contents */ 
/* 
1. Imports
2. General
3. Mobile
4. Large(r) Screens
*/

/* 1. Imports */

/* 2. General */
#image {
    width: 70%;
}

main {
    padding-left: 3%;
}

#priceText {
    color: #DE2226;
    font-size: 200%;
}

#welcome {
    font-size: 200%;
}

/* 3. Mobile */

/* 4. Large(r) Screens */
@media screen and (min-width: 450px) {
#description {
    width: 50%;
    float: right;
    font-size: 230%;
    font: bolder;
}

#image {
    width: 50%;
}

}