/* General */

img {
    max-width: 100%;
}
source {
    max-width: 100%;
}
picture {
    max-width: 100%;
}
section {
    max-width: 100%;
}

/* Mobile */
.large-image-text {
    display: none;
}


/* Large Screens */

@media screen and (min-width: 450px) {
    .large-image-text {
        display: initial;
    }
    .small-image-text {
        display: none;
    }

}