/* Table of Contents*/
/* 1. Imports
2. General Styles
3. Mobile
4. Large(r) Screens*/

/* 1. Imports */

@import url('https://fonts.googleapis.com/css?family=Sansita&display=swap');

@import url('normalize.css'); 

/* 2. General Styles*/
html {
    box-sizing: border-box;
}
*, *:before, *:after{
    box-sizing: inherit;
}
body {
    font-size: 20px; 
    font-family: helvetica, verdana, sans-serif;
}
h1,h2,h3,h4,h5,h6 {
    font-family: Sansita, Eurostyle, sans-serif;
}
#localName {
    padding-left: 10px;
}
.tile {
    background-color: rgba(200,200,200,.6);
    margin: .2em auto;
    border: 1px solid;
    border-radius: 15px;
}
nav ul li {
    display: inline-block;
    list-style: none;
}
nav {
    position: fixed;
    bottom: 0;
    left: 0;
}
footer {
    margin-bottom: 2em;
}
#logo {
    float: left;
    width: 50px;
    height: 100%;
    display: inline;
    vertical-align: middle;
    /* padding: 20px 20px 20px 20px;*/
    /* margin: 2px 2px 0px 2px; */
}
#page-header {
    /*height: 40px;*/
    width: 100%;
    display: inline-block;
    background-color: #0e89d5;
    text-align: center;
}

#localInfo ul {
    display: flex;
    list-style: none;
    padding-left: 10px;
} 

li {
    list-style-type: none;
    margin: 3px;
}

/* Mobile */

@media only screen and (max-width: 600px) {

}

/* Large(r) Screens */





#weather-picture {
    width: 100%;
}
#temperature {
    width: 100%;
}
#main-title {
    /*background-color: #0e89d5;*/
    /*height: 40px;*/
    height: 100%;
    width: 100%;
    display: inline;
    vertical-align: middle;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
}

#location-info {
    font-size: 110%;
}
#dial {
    height: 150px;
    width: 150px;
    background: no-repeat center/85% url('../weather-site-images/weather-site-images/images/wind-pointer.png');
    z-index: 100;
    margin: -.6em auto 0;
}

.n, .north {
    transform: rotate(0deg);
}
.ne {
    transform: rotate(45deg);
}
.e, .east {
    transform: rotate(90deg);
}
.se {
    transform: rotate(135deg);
}
.s, .south {
    transform: rotate(180deg);
}
.sw {
    transform: rotate(225deg);
}
.w, .west {
    transform: rotate(270deg);
}
.nw {
    transform: rotate(315deg);
}