/* Table of Contents*/ 
/* 
1. Imports
2. General Styles  
3. Mobile
4. Large(r) Screens 
*/

/* 1. Imports */ 

@import url('https://fonts.googleapis.com/css?family=Sansita&display=swap');

@import url('normalize.css'); 

/* 2. General Styles*/
html {
    box-sizing: border-box;
}
*, *:before, *:after{
    box-sizing: inherit;
}
body {
    font-size: 20px; 
    font-family: helvetica, verdana, sans-serif;
}
h1,h2,h3,h4,h5,h6 {
    font-family: Sansita, Eurostyle, sans-serif;
}
#localName {
    padding-left: 10px;
}
.tile {
    background-color: rgba(200,200,200,.6);
    margin: .2em auto;
    border: 1px solid;
    border-radius: 15px;
}
nav ul li {
    display: inline-block;
    list-style: none;
}

footer {
    margin-bottom: 2em;
    padding: 5px;
}

#logo {
    float: left;
    width: 50px;
    height: 100%;
    vertical-align: middle;
}
#page-header {
    width: 100%;
    display: inline-block;
    background-color: #0e89d5;
    text-align: center;
}

#localInfo ul {
    display: flex;
    list-style: none;
    padding-left: 10px;
    font-size: 13px;
} 

li {
    list-style-type: none;
    margin: 3px;
}

#direction {
    text-align: center;
}

#gust {
    text-align: center;
}

#footer {
    background-color: #0e89d5; 
}

#highnlow {
    display: flex;
    justify-content: center;
}

#templist {
    overflow: auto;
    white-space: nowrap;
}

#highTemperature {
    text-align: center;
    color: red;
    margin: 4px;
}

#lowTemperature {
    text-align: center;
    color: blue;
    margin: 4px;
}

.title {
    text-align: center;
}

#currentTemperature {
    font-size: 80px;
    text-align: center;
}

#feelTemp {
    text-align: center;
}

#weather-picture {
    width: 100%;
}
#temperature {
    width: 100%;
}
#main-title {
    display: inline;
    vertical-align: middle;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
}

#location-info {
    font-size: 110%;
}
#dial {
    height: 150px;
    width: 150px;
    background: no-repeat center/85% url('../weather-site-images/weather-site-images/images/wind-pointer.png');
    z-index: 100;
    margin: -.6em auto 0;
}

.n, .north {
    transform: rotate(0deg);
}
.ne {
    transform: rotate(45deg);
}
.e, .east {
    transform: rotate(90deg);
}
.se {
    transform: rotate(135deg);
}
.s, .south {
    transform: rotate(180deg);
}
.sw {
    transform: rotate(225deg);
}
.w, .west {
    transform: rotate(270deg);
}
.nw {
    transform: rotate(315deg);
}

#currentWeather {
    background-size: cover;
}

/* Mobile */

#windSpeed {
    margin-top: -80px;
    padding-bottom: 40px;
    text-align: center;
}

#navBar {
    position: fixed;
    bottom: 0;
    background-color: #0e89d5;
    width: 100%;
    z-index: 101; 
}

/* Background pictures for summary */
.clear {
    background-image: url("/weather_web/optimizedImages/clear-400.jpg");
}
.clouds {
    background-image: url("/weather_web/optimizedImages/clouds-400.jpg");
}
.fog {
    background-image: url("/weather_web/optimizedImages/fog-400.jpg");
}
.rain {
    background-image: url("/weather_web/optimizedImages/rain-400.jpg");
}
.snow {
    background-image: url("/weather_web/optimizedImages/snow-450.jpg");
}

/* Large(r) Screens */

@media screen and (min-width: 450px) {

#currentWeather {
    display: flex;
}

.clear {
    background-image: url("/weather_web/optimizedImages/clear-1200.jpg");
}
.clouds {
    background-image: url("/weather_web/optimizedImages/clouds-1200.jpg");
}
.fog {
    background-image: url("/weather_web/optimizedImages/fog-1200.jpg");
}
.rain {
    background-image: url("/weather_web/optimizedImages/rain-1500.jpg");
}
.snow {
    background-image: url("/weather_web/optimizedImages/snow-1200.jpg");
}

}

.hide {
    display: none;
}